

.Noticecontainer {
  max-width: 800px;
  margin-top: 40px;
  margin-left: 400px;
  margin-right: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form_topic {
  color: #706a6a;
  margin-left: 40px;
}

.file-input-label {
  display: block;
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.file-input-label input[type="file"] {
  display: none;
}

.Noticecontainer label,
.Noticecontainer input,
.Noticecontainer select,
.Noticecontainer textarea {
  display: block;
  margin-bottom: 10px;
}

.Noticecontainer input[type="text"],
.Noticecontainer select,
.Noticecontainer textarea,
.Noticecontainer input[type="date"] {
  width: calc(50% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ecf5fc;
  box-sizing: border-box;
  margin-bottom: 15px;
  /* Added margin */
}

.Noticecontainer input[type="text"][name="description"] {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ecf5fc;
  box-sizing: border-box;
  margin-bottom: 15px;
  height: 60px;
  /* Adjust the height as needed */
  resize: vertical;
  /* Allow vertical resizing */
}


.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

.Noticecontainer button {
  padding: 10px 80px;
  background-color: #483EA8;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
}


.Noticecontainer button:hover {
  background-color: #0056b3;
}

.cancelbutton {
  background-color: #667A8A;
  transition: background-color 0.3s;
  padding: 10px 80px;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  text-decoration: none;
}

.cancelbutton:hover {
  background-color: #c82333;
}

.input_container {
  padding: 40px;
}

.input_group {
  display: flex;
  justify-content: space-between;
}

.input_col {
  flex: 1;
}

.input_col input[type="date"],
.input_col select {
  width: calc(40% - 22px);
  /* Adjust the width as needed */
  /* Other existing styles */
}

.Noticecontainer hr {
  border-color: #E2E2E2;
  /* Change to your desired color */
  margin-left: 40px;
  /* Add margin on the left side */
  margin-right: 40px;
  /* Add margin on the right side */
}